body {
    background-color: #eff5f8
  }
  
  button {
      /* Apply to all four sides */
      padding: 10px;
      /* Apply margin to all four sides */
      margin: 24px;     
      cursor: pointer;
      font-size: 24px;
      background-color: #247BA0;
      color: white;
    }
    
    button:hover {
      opacity: 0.8;
    }

    .questionPara {
      color: indigo;
      font-size: medium;
    }
    
    .answer-button {
      /* Apply to all four sides */
      padding: 10px;
      /* Apply margin to all four sides */
      margin: 16px;     
      cursor: pointer;
      font-size: 16px;
      background-color: #7226a5;
      color: white;
      width: 250px;
    }

    .quiz-complete-submit {
      /* Apply to all four sides */
      padding: 4px;
      /* Apply margin to all four sides */
      margin: 10px;     
      cursor: pointer;
      font-size: 14px;
      background-color: #247BA0;
      color: white;
    }

    .highScorePageButton {
      /* Apply to all four sides */
      padding: 6px;
      /* Apply margin to all four sides */
      margin: 10px;     
      cursor: pointer;
      font-size: 16px;
      background-color: #247BA0;
      color: white;
    }
  
    .highScoreSpan {      
      font-size: 20px;
      color: indigo;     
      padding: 10px;      
    }

    input {
    background-color: #f7f7f7;
    }
  
  .wrapper {
    padding-top: 20px;  
  }
  
  .container {
      /* Added padding bottom */
      padding-bottom: 20px;    
      display: block;
      /* Apply margin to vertical | horizontal sides */
      margin: 40px auto;
      text-align: center;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 60vw;
      background-color: #f0ead6;
      /* background-color: #729681; */
    }
  
  .card-contents {
      /* top | right | bottom | left */
      padding: 5px 5px 30px 5px;       
    }
  
   .card-contents-p {
      margin-left: 25%;
      margin-right: 25%;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: large;
    }

    .card-contents-timer {
        /* float:right; */
        margin-left: 5%;
        margin-right: 5%;
        display: none;
      }

    .highscoreParaClass {
      /* float:left; */
      margin-left: 5%;
      margin-right: 5%;
    }

    .card-contents-highscore {
      float:left;
      margin-left: 5%;
      margin-right: 5%;
    }

    .firstpage {
      display: block;
    }

    /* Hide all steps by default: */
    .tab {
      display: none;
    }

    .quizCompletePage {
      display: none;
    }

    .highScorePage {
      display: none;
    }

    #hrId {
      display: none;
      margin-left: 15%;     
    }

   
  